.container {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: calc(100% - 1rem);
  overflow: hidden;
  width: calc(100% - 1rem);

  video {
    position: absolute;
    left: 0;
    object-fit: cover;
    top: 0;
    width: calc(60vw - 1rem);
    height: calc(100% + 1rem);
  }

  img {
    display: none;
    position: absolute;
  }
}

.mainCanvas {
  position: absolute;
  height: 100%;
  left: 0;
  object-fit: cover;
  top: 0;
  width: 60vw;
  z-index: 2;
}

.imageCanvas {
  display: none;
}

.outerContainer {
  position: relative;
  width: 60%;
  height: 40vw;
  padding: 0px;
}

.outerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  inset: 0;
  padding: 3px; 
  background: linear-gradient(239.43deg, rgba(127, 25, 207, 0.25) 4.75%, rgba(58, 182, 199, 0.154167) 37.03%, rgba(26, 132, 230, 0) 88.96%) border-box;
  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}


.emotions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10000000000000000;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  height: 60px;
  width: 150px;
  left: 1.625rem;
  top: 1.625rem;
  padding: 0.6rem;

  img { width: 40px; height: 40px; display: inline-block !important; position: relative !important;}

  h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 300;
  }
}

.detected {
  display: inline-block;
}

@media only screen and (max-width: 1200px) {
  .outerContainer {
    position: relative;
    border: solid 1px white;
    width: 90vw;
    height: 60vw;
    padding: 0px;
  }

  .container {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: calc(100% - 1rem);
    overflow: hidden;
    width: calc(100% - 1rem);
  
    video {
      position: absolute;
      left: 0;
      object-fit: cover;
      top: 0;
      width: calc(90vw - 1rem);
      height: calc(100% + 1rem);
    }
  
    img {
      display: none;
      position: absolute;
    }
  }

  .mainCanvas {
    position: absolute;
    height: 100%;
    left: 0;
    object-fit: cover;
    top: 0;
    width: 90vw;
    z-index: 2;
  }
}