.match {
  display: flex;
  width: 98%;
  align-items: center;
  line-height: 0rem;
  gap: 1rem;
  border: 1px #082337 solid;
  border-radius: 7.5px;
  height: 40px;
  padding: 30px 0px;
  padding-right: 15px;
  justify-content: space-between;
  margin-top: 5px;
  position: relative;
  flex-wrap: nowrap;
  overflow: hidden;;
}

.doubleimage {
  position: relative;
  width: 100px;
  height: 66px;
}
.texts {
  position: absolute;
  top: 15%;
  left: 65%;
  z-index: 5;

  h3 {
    color: white !important;
  }
}

.col {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-weight: 300;
    color: #666;
    line-height: -40px;
    font-size: 16px;
  }
}

.divider {
  height: 2rem;
  background-color: #666;
  width: 1px;
}

.comp {
  border-radius: 5px;
  font-weight: 600;
  width: 115px;
  height: 30px;
  border: none;
  font-family: Kanit;
  font-size: 16px;
  background: rgb(255, 255, 255, 0.5);
}

.bold {
  font-weight: 500;
  color: white !important;
}

.win {
  position: absolute;
  width: 5px;
  height: 100px;
  background-color: #1D7CC1;
}

.loss {
  position: absolute;
  width: 5px;
  height: 100px;
  background-color: #FF7979;
}

// .untilt {
//   background-color: #f3ec78 !important;
//   background-image: linear-gradient(45deg, #f3ec78, #af4261)!important;
//   background-size: 100% !important;
//   -webkit-background-clip: text !important;
//   -moz-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   -moz-text-fill-color: transparent;
// }
