.container {
  padding: 3rem 5% 3rem 2.5%;
  flex-basis: 50%;

  .innerContainer {
    position: relative;
    height: 1000px;
    padding-top: 5px;
    padding: 0 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .innerContainer::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    inset: 0;
    border-radius: 15px; 
    padding: 3px; 
    background: linear-gradient(239.43deg, rgba(127, 25, 207, 0.25) 4.75%, rgba(58, 182, 199, 0.154167) 37.03%, rgba(26, 132, 230, 0) 88.96%) border-box;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
}

.filter {
  margin-top: 20px;
  z-index: 99999999999999;
  display: flex;
  width: 90%;
  h2 {
    cursor: pointer;
    margin-right: 10px;
    font-weight: 400;
    font-size: 24px;
    color: #464646;
    transition: 0.2s;

    &:hover {
      color:#888888;
    }
  }
}

.activeH2 {
  color: white !important;
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 1200px) {
  .container {
    flex-basis: 100%;
    padding: 1.5rem 2.5% 3rem 2.5%;
  }
}