.container {
  aspect-ratio: 2 / 1;
  width: 100%;
  position: relative;
}

.container::before {
  aspect-ratio: 2 / 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  inset: 0;
  border-radius: 15px; 
  padding: 3px; 
  background: linear-gradient(239.43deg, rgba(127, 25, 207, 0.25) 4.75%, rgba(58, 182, 199, 0.154167) 37.03%, rgba(26, 132, 230, 0) 88.96%) border-box;
  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.header {
  padding-left: 1.4rem;
  padding-top: 1rem;
  position: absolute;
  top: 0;
  left: 0;

  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3rem;
    height: 1.5rem;
  }

  h2 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    margin: 0;
  }

  p {
    color: #606060;
    margin: 0;
    font-weight: 300;
    font-size: 0.9rem;
  }
}