.container {
  margin-top: 0;
  background: url('/banner.png');
  height: calc(100% - 3.125rem);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; 
  z-index: 1;
}

.name {
  display: flex;
  align-items: center;
  position: absolute;
  left: 5%;
  top: 7.5%;



  .col {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    h1 {
      font-size: 48px;
      margin-left: 1rem;
      margin-bottom: 0px;
      line-height: 48px;
    }

    span {
      margin: 0px;
      margin-left: 1rem;
    }
  }
}

.mindButton {
  position: relative;
  cursor: pointer;
  z-index: 99999999999999999999999999999;
}

.imagewrapper {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 10px white solid;

}

.icon {
  border-radius: 50%;
  border: 5px white solid;
}

.tiltText {
  width: 60%;
  text-align: right;
  height: calc(100% - 50px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  h2 {
    margin: 0;
    font-weight: 600;
    font-size: 2.8125rem;
  }

  p {
    margin: 0;
    font-size: 1rem;
  }

  img {
    height: 40px;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.tiltMeter {
  height: 100%;
  width: 400px;
  position: absolute;
  right: 5%;
  display: flex;
  align-items: center;
}

.navigator {
  position: absolute;
  bottom: 1rem;
  margin: 0 5%;
  width: 90%;
  height: 50px;

  h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #464646;
    z-index: 501;
    display: inline-block;
    margin-right: 1rem;
    font-weight: 300;
    transition-duration: 0.5s;

    &:hover {
      color: white !important;
    }
  }
}

.active {
  font-weight: 600 !important;
  color: white !important;
  position: relative;

  &::after {
    content: '';
    height: 0.2rem;
    width: 100%;
    top: calc(50px - 0.15rem);
    left: 0;
    position: absolute;
    background-color: white;
    display: inline-block;
  }
}

.line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.1rem;
  background: linear-gradient(90deg, #FFFFFF -0.47%, #02123C 100%);
}

.circle {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .navigator {
    text-align: center;
  }

  .tiltText {
    display: none;
  }
}