html,
body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: Kanit, sans-serif;
  background: linear-gradient(151.48deg, #010C14 41.09%, #061E30 87.76%);

  /* background-repeat: no-repeat;  */
  background-image: url("/postgame_stars.png"), linear-gradient(151.48deg, #010C14 41.09%, #061E30 87.76%); 
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.CircularProgress {
  position: relative;
}


.textContent {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 25px !important;
  width: 150px !important;
  height: 150px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}