.container {
  width: 100vw;
  height: 100vh;
  background-image: url("/index_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.outerContainer {
  position: relative;
  height: 100vh;
  width: 60vw;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
}

.innerContainer {
  position: absolute;
  top: 446px;
  height: calc(100% - 446px);
  left: 10%;

  img {
    position: absolute;
    bottom: 0;
    height: 178px;
  }
}

.newWrapper {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 1116px;
  height: 446px;
}

.enterUsername {
  position: absolute;
  top: calc(((100% - 178px)/2) - 30px);
  display: flex;
  input {
    height: 60px;
    width: 584px;
    background-color: black;
    background: #010C15;
    border: 1px solid #555555;
    color: #5E5E5E;
    font-weight: 300;
    font-size: 1.8rem;
    font-style: italic;
    padding: 20px;
    margin-bottom: 30px;

    &:focus {
      outline: 1px solid white;
      color: white;
    }
  }
  button {
    cursor: pointer;
    background: #FF4A4A;
    color: white;
    width: 148px;
    height: 60px;
    border: none;
    margin-left: 20px;
    font-size: 1.8rem;
    transition: 0.2s;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.modal {
  position: absolute;
  right: calc(50% - 300px);
  top: calc(50% - 300px);
  width: 600px;
  border-radius: 10px;
  height: 600px;
  border: none;
  background: linear-gradient(151.48deg, #010C14 41.09%, #061E30 87.76%);
  padding: 50px;
  transition: 0.5s;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 2);

  &:focus-visible {
    outline: none;
  }

  &:hover {
    transform: translateY(10px);
  }

  button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 0;
    height: 0;
    background: none;
    border: none;

    &:after {
      position: absolute;
      right: 0;
      top: 0;
      color: white;
      font-size: 2rem;
      cursor: pointer;
      display: inline-block;
      content: "\00d7"; /* This will render the 'X' */
    }
  }

}


.modal::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  inset: 0;
  border-radius: 10px; 
  padding: 2px; 
  background: linear-gradient(239.43deg, rgba(127, 25, 207, 0.25) 4.75%, rgba(58, 182, 199, 0.154167) 37.03%, rgba(26, 132, 230, 0) 88.96%) border-box;
  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(151.48deg, rgba(1, 12, 20, 0.5) 41.09%, rgba(6, 30, 48, 0.5) 87.76%);
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100vw;
    background: linear-gradient(
      164.26deg,
      #16374e -1.68%,
      #010d15 10.69%,
      #010d15 80.52%,
      #1f394a 126.01%
    );
    background-repeat: no-repeat;
    min-height: 900px;
  }

  .newWrapper {
    position: absolute;
    left: calc(20%);
    width: 600px;
    height: 239px;
    margin: 0;
  }

  .outerContainer {
    width: 90%;
    position: relative;
    padding: 0;
  }

  .enterUsername {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    input {
      text-align: center;
      height: 60px;
      width: 80%;
      font-size: 1.4rem;
    }
    button {
      font-size: 1.4rem;
      max-width: 400px;
      width: 80%;
      height: 60px;
      border: none;
      margin-left: 20px;
      font-size: 1.8rem;
    }
  }

  .innerContainer {
    top: 223px;
    width: 100%;
    height: auto;
    min-height: 500px;

    img {
      left: 10%;
      width: 80%;
    }
  }
}
