.container {
  width: 100vw;
  height: 100vh;
  background-image: url('/index_background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
    background: linear-gradient(164.26deg, #16374E -1.68%, #010D15 10.69%, #010D15 80.52%, #1F394A 126.01%);
  }

}